@model mf_dev_backend.Views.Home.SolarModel
@{
    ViewData["Title"] = "Solar";
}

<h1>Bem-vindo à Página EnergiaGeo</h1>
<p>Esta é a página de energia geotérmica.</p>
<a asp-controller="Home" asp-action="Index">Voltar</a>
